<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="general/font/fontawesome/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="general/css/normalize.css">
    <link rel="stylesheet" href="home/css/home.css">
    <link rel="stylesheet" href="parts/css/nevPar.css">
    <link rel="stylesheet" href="parts/css/footer.css">

    <title>ziad Bennadji</title>
</head>
<body>
    <header class="">
        <%- include('../../parts/navPar'); %>
    </header>
    <div class="fasl">

    </div>
    <main>
        <div class="home-container">
            <div class="icon-container">
                <!-- icon fontAwsome-->
                <div class="box-icon">
                    <a href="https://www.facebook.com/zize.bad.boy"><i  class="fab fa-facebook-square"></i></a>
                    <a href="https://www.twitter.com/matder_dz"><i class="fab fa-twitter-square"></i></a>
                    <a href="https://www.instagram.com/daix_wap/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCbOmtGz21uGYHt_ozlxq0Eg?view_as=subscriber"><i class="fab fa-youtube-square"></i></a>
                    <a href="https://github.com/Daizwpa"><i class="fab fa-github-alt"></i></a>
                </div>
            </div>
        
            <div class="short-info">
                <div class="short-info-container">
                    <p class="title"><q>Ziad Benadji</q></p>
                        
                    <p class="body">
                       Self-learning software and Cyber security  through research & development. 
                    </p>
                </div>
                    
            </div>
            
        </div>
        <diV class="read-more">
            READ MORE
        </diV>
        <div class="down">
           <!--  <i class="fas fa-sort-down"></i> -->
           
           <a href="#cv"> <i class=" fas fa-angle-double-down"></i></a>
        </div>
        <!--CV--------------------------------------------------------------->
        <div class="cv" id="cv">
            <div class="cv-image">
                <img src="home/image/ziad.jpg" alt="ziad">
            </div>
            <div class="cv-body">
                <div class="cv-body-container">
                    <p class="cv-tilte"><q>MY WORKE</q></p>     
                    <p class="cv-body-content">
                        I was never the best at school or academics, I’m just a super curious guy. My channel exists to share these ideas and theories that interest me. I spend a lot of time building software and learing Cyber security , but there’s also a lot more to it. I’ve been working on a video format to document the logic, reasoning, and problems encountered during the process of learning engineering. A combination of innovation and storytelling.
                    </p>
                </div>
            </div>

        </div>
        <!--end cv--------------------------------------------------------->

        <div class="github">
            <p class="Popular-Projects">Popular Projects</p>
            <div class="table">
                <div class="table-content">
                    <div class="tr-title tr">
                        <div class="th">Title</div>
                        <div class="td">Theorie de graphes</div>
                        <div class="td">Weather app</div>
                        <div class="td">sokoban</div>
                        
    
                    </div>
                    <div class="tr-des tr">
                        <div class="th">Description</div>
                        <div class="td">answer the question if graph is connected or none</div>
                        <div class="td">get  weather info  for specific place </div>
                        <div class="td">sokoban game</div>
                        
    
                    </div>
                    <div class="tr-lag tr">
                        <div class="th">language</div>
                        <div class="td">C</div>
                        <div class="td">nodejs</div>
                        <div class="td">C</div>
                        
    
                    </div>
                </div>
            </div>


        </div>
    </main>
    <footer>
        <%- include('../../parts/footer'); %>
    </footer>

    <!--javaScript code -->
    <script src="home/js/navPar.js"></script>
    
</body>
</html>