<div class="footer-icon">
    <a href="https://www.facebook.com/zize.bad.boy"><i  class="fab fa-facebook-square"></i></a>
    <a href="https://www.twitter.com/matder_dz"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/daix_wap/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/channel/UCbOmtGz21uGYHt_ozlxq0Eg?view_as=subscriber"><i class="fab fa-youtube-square"></i></a>
    <a href="https://github.com/Daizwpa"><i class="fab fa-github-alt"></i></a>
</div>

