<nav>
    <div class="itme-nav"><a id="NavParName"    class="x nav-bar-a" href="/">Ziad Bennadji</a></div>
    <div class="itme-nav"><a id="NavParLesson"  class="x nav-bar-a" href="/lesson"> Lesson </a></div>
    <div class="itme-nav"><a id="NavParContact" class="x nav-bar-a" href="/contact"> Contact</a></div>
</nav>